//- mixin nav_menu(menu)
//- 	nav.nav-menu
//- 		ul.menu-item
//- 			each m in menu
//- 				li.menu-item__inner
//- 					a(href='#{m.link}' class="menu-item__link") #{m.item}

//- mixin svg(name, path)
//- 	svg(class="#{name}" role="img")
//- 		use(id="#{name}" xlink:href="img/#{path}.svg##{name}")



